@import "./variables.scss";

.gallery {
    width: 100vw;
    margin-left: 50%;
    transform: translateX(-50%);
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 1em;
    
    /*
    img {
        border-radius: 0.16em;
        display: block;

        width:4;
        height:8em;
        object-fit: cover;
        
        
        @media screen and (max-width: $mobile-screen-size) { 
            width: 100%;
            height: auto;
        }

    }
    */

    @media screen and (max-width: $mobile-screen-size) { 
        gap:6px;
    }
}

/*
.image {
    flex: 1 0 20%;
    width: 20%;
    max-width: 20%;

    @media screen and (max-width: $mobile-screen-size) { 
        flex: 1 0 100%;
        max-width: 100%;
        
    }
    
}
*/

.subnav {
    margin-top:0.5em;
    
    width: 100vw;
    margin-left: 50%;
    transform: translateX(-50%);

    ul {
        background-color: $engineering-orange;
        display: flex;
        list-style: none;
        justify-content: center;
        @media screen and (max-width: $mobile-screen-size) { 
            background-color: $ghost-white;
        }
    }
    ul li {
        
        height: 3em;
        font-size:large;
        //background-color: $ghost-white;
        //background-color: $indigo-dye;
        //border-radius: 1.4em;
        //border-bottom: 2px solid $engineering-orange;
        //border-top: 2px solid $engineering-orange;
        background-color: $engineering-orange;
        
        border-right: 1px solid $ghost-white;
        border-left: 1px solid $ghost-white;
        color: $ghost-white;
        width:8em;
        text-align: center;
        padding: $desktop-padding;
        
        margin-left: 6em;
        margin-right: 6em;
        background-color: $ghost-white;
        color: $rich-black;
        
        //text-decoration: underline;
        &:hover{
            background-color: $rich-black;
            color: $ghost-white;
        }
        @media screen and (max-width: $mobile-screen-size) { 
            margin-left: auto;
            margin-right: auto;
        }
    }
}

.content {
    text-align: center;
    margin: 0.5em;
}

.galleryImage{
    
    width: 19%;
    height: 8em;

    
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    video {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    /*
    .tags {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
            @media screen and (max-width: $mobile-screen-size) { 
                display: none;   
            }
      }
      .tag {
        border-radius: 2px;
        padding: 2px;

        margin: 2px;
        background-color: $engineering-orange;
        color: $ghost-white;
      }
     */

    @media screen and (max-width: $mobile-screen-size) { 
        /*
        flex: 1 0 100%;
        max-width: 100%;
        */
    }
            
    @media screen and (max-width: $mobile-screen-size) { 
        width: 100%;
        height: 14em;
    }

    
}
