

/* base colors */
$engineering-orange: #b80c09;
$indigo-dye: #0b4f6cff;
$process-cyan: #01baef;
$ghost-white: #fbfbff;
$rich-black: #040f16;

/*  app uses these vars */
$color-bg: $ghost-white;
$color-fg: $rich-black;
$color-accent: $rich-black;
$color-special: $engineering-orange;
$color-logged: $process-cyan;

/* layout */
$mobile-screen-size: 700px;
$desktop-padding: 1em;
$mobile-padding: 0.25em;
$mobile-width-pct: 90%;